.profile__edit-button {
  width: 24px;
  height: 24px;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  align-self: center;
  display: flex;
  margin-left: 18px;
  background-color: transparent;
  background-image: url(../../../images/Znak-edit.svg);
  background-size: 7px;
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity .5s linear 0s;
}

.profile__edit-button:hover {
  opacity: .6;
  cursor: url(../../images/pointer.svg), pointer;
}

@media screen and (max-width: 879px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin-left: 10px;
  }
}
