.edit-form__field {
  margin: 0;
  padding: 0;
  margin-left: 36px;
  border: none;
  border-bottom: 1px solid rgba(26, 25, 25, 0.2);
  width: 358px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding-top: 30px;
}

@media screen and (max-width: 879px) {
  .edit-form__field {
    width: 238px;
    margin-left: 22px;
  }
}
