.profile__plus-button {
  width: 150px;
  height: 50px;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  align-self: center;
  border-radius: 2px;
  justify-self: end;
  display: flex;
  justify-self: right;
  background-image: url(../../../images/Znak-plus.svg);
  color: black;
  background-size: 22px;
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity .5s linear 0s;
}

.profile__plus-button:hover {
  opacity: .6;
}

@media screen and (max-width: 879px) {
  .profile__plus-button {
    margin-top: 36px;
    width: 282px;
    height: 50px;
    background-size: 16px;
  }
}
